<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加科目</title>
</head>
<body>
<form action="{:url('/subject')}" method="post">
    <p>科目类别：
        <select name="category">
            {foreach $categories as $category}
                <option value="{$category.id}">{$category.category}</option>
            {/foreach}
        </select>
    </p>
    <p>科目：<input type="text" name="subject" value="" /></p>
    <p><input type="submit" value="添加" /></p>
</form>
</body>
</html>