<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑新闻信息</title>
    <script src="/static/js/jquery.min.js"></script>
</head>
<body>
    <form action="/news/{$data.id}" method="put">
        <input type="hidden" name="_method" value="put">
        <p>标题：<input type="text" name="title" value="{$data.title}" id="title"/></p>
        <p>内容：<textarea name="content" id="content">{$data.content}</textarea></p>
        <p><input type="hidden" id="id" value="{$data.id}" />
            <input type="button" value="确定修改" id="submit"/></p>
    </form>
</body>
<script>
    $("#submit").click(function(){
        $.ajax({
            url: $("form").attr('action'),
            type: 'PUT',
            data:{
                'title':$("#title").val(),
                'content':$("#content").val()
            },
            success: function (result) {
                if (result == '1') {
                    window.location.href = '/news';
                }
            }
        });
    });
</script>
</html>