<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>显示所有新闻</title>
    <script src="/static/js/jquery.min.js"></script>
</head>
<body>
<ul>
    <table width="90%">
        <tr align="left">
            <th>姓名</th>
            <th>学号</th>
            <th>年龄</th>
            <th>性别</th>
            <th>年级</th>
            <th>作者</th>
            <th>籍贯</th>
            <th>操作</th>
        </tr>
        {foreach $data as $v}
            <tr>
                <td>{$v.name}</td>
                <td>{$v.number}</td>
                <td>{$v.age}</td>
                <td>{$v.sex}</td>
                <td>{$v.grade}</td>
                <td>{$v.author}</td>
                <td>{$v.native}</td>
                <td>
                    <a href="/zhangzhimin/{$v.id}/edit" >修改</a>
                    <a href="/zhangzhimin/{$v.id}" class="delete">删除</a>
                </td>

            </tr>
        {/foreach}
    </table>

</ul>

<a href="{:url('/zhangzhimin/create')}">添加学生</a>
</body>
<script>
    $(".delete").click(function(){
        var tag = confirm("你确定要删除该条新闻");
        if(tag){
            var self = $(this);
            var url = self.attr('href');
            $.ajax({
                url: url,
                type: 'DELETE',
                success: function (result) {
                    if (result == '1') {
                        self.parent().parent().remove();

                    }else{
                        alert('删除失败');
                    }
                }
            });
        }
        return false;
    })

</script>
</html>